@if(confirmService.options(); as opts) {
<dialog class="modal modal-open">
    <div class="modal-box">
        <h3 class="font-bold text-lg flex items-center gap-2" [ngClass]="textClass">
            <!-- Icono de Advertencia Genérico -->
            <svg xmlns="http://www.w3.org/2000/svg" class="size-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            {{ opts.title }}
        </h3>
        
        <p class="py-4">{{ opts.text }}</p>
        
        <div class="modal-action">
            <button class="btn" (click)="responder(false)">
                {{ opts.cancelButtonText }}
            </button>
            <button class="btn" [ngClass]="btnClass" (click)="responder(true)">
                {{ opts.confirmButtonText }}
            </button>
        </div>
    </div>
    
    <!-- Backdrop: Al hacer click fuera del modal se cierra devolviendo false -->
    <div class="modal-backdrop" (click)="responder(false)"></div>
</dialog>
}
