<aside class="bg-base-200 min-h-screen w-full h-full overflow-y-auto flex flex-col">
    <!-- Sidebar Header -->
    <div class="sticky top-0 bg-base-200 z-20 border-b border-base-200 transition-all duration-300 flex flex-row items-center px-2 h-12 w-full"
        [class.xl:justify-center]="!layoutService.desktopExpanded()">

        <div class="flex items-center gap-2 w-full transition-all duration-300"
            [class.justify-center]="!layoutService.desktopExpanded()"
            [class.xl:justify-center]="!layoutService.desktopExpanded()"
            [class.xl:mb-0]="!layoutService.desktopExpanded()">
            <a href="html/demo6/index.html"
                class="flex items-center normal-case text-xl w-full justify-start overflow-hidden px-2"
                [class.xl:justify-center]="!layoutService.desktopExpanded()"
                [class.xl:px-0]="!layoutService.desktopExpanded()">
                <img class="h-8 flex-none dark:invert" src="logo-1-sin-fondo.png" alt="Logo" />
                <span class="ml-2 truncate transition-opacity duration-300"
                    [class.xl:hidden]="!layoutService.desktopExpanded()">ChatBot - PSG</span>
            </a>
        </div>

        @if (!layoutService.desktopExpanded()) {
        <button class="btn btn-ghost btn-circle btn-sm hidden xl:flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                <path fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
        }
    </div>

    <!-- Sidebar Menu -->
    <ul class="menu w-full p-2 rounded-none gap-1 bg-base-200">
        @for (item of menuItems; track item.title) {

        <!-- Heading -->
        @if (item.heading) {
        <li class="menu-title">
            <span [class.xl:hidden]="!layoutService.desktopExpanded()">{{ item.title }}</span>
        </li>
        }

        <!-- Item con submenu (desplegable) -->
        @else if (item.submenu) {
        <li>
            <details [open]="layoutService.desktopExpanded() ? null : false">
                <summary [class.xl:tooltip]="!layoutService.desktopExpanded()"
                    [class.xl:tooltip-right]="!layoutService.desktopExpanded()"
                    [attr.data-tip]="item.tooltip || item.title">
                    @if (item.svgIcon) {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" [attr.d]="item.svgIcon" clip-rule="evenodd" />
                    </svg>
                    }
                    <span [class.xl:hidden]="!layoutService.desktopExpanded()">{{ item.title }}</span>
                </summary>
                <ul class="border-l border-base-content/20 ml-6 pl-2"
                    [class.xl:hidden]="!layoutService.desktopExpanded()">
                    @for (child of item.submenu; track child.title) {
                    <ng-container [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: child }">
                    </ng-container>
                    }
                </ul>
            </details>
        </li>
        }

        <!-- Item simple (enlace directo) -->
        @else {
        <li>
            <a [routerLink]="item.route" [class.active]="item.active"
                [class.xl:tooltip]="!layoutService.desktopExpanded()"
                [class.xl:tooltip-right]="!layoutService.desktopExpanded()"
                [attr.data-tip]="item.tooltip || item.title">
                @if (item.svgIcon) {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" [attr.d]="item.svgIcon" clip-rule="evenodd" />
                </svg>
                }
                <span [class.xl:hidden]="!layoutService.desktopExpanded()">{{ item.title }}</span>
            </a>
        </li>
        }
        }
    </ul>
</aside>

<!-- Template recursivo para submenús anidados -->
<ng-template #recursiveMenu let-item>
    @if (item.submenu) {
    <li>
        <details>
            <summary>{{ item.title }}</summary>
            <ul class="border-l border-base-content/20 ml-4 pl-2">
                @for (child of item.submenu; track child.title) {
                <ng-container [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: child }">
                </ng-container>
                }
            </ul>
        </details>
    </li>
    } @else {
    <li>
        <a [routerLink]="item.route" [class.active]="item.active">{{ item.title }}</a>
    </li>
    }
</ng-template>